body{
    background-color:#d0d0d0;
}
img {
    width: 90%;
    height:auto;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}
p{
    font-size: 20px;
}
div{
    display: flex;
    justify-content: space-evenly;
    margin:2px
}
div>img{
    width:50%;
}
div>code>pre{
    font-size: 18px;
    background-color: ivory;
    margin:5px
}
footer>a:hover{
    background-color:#570808;
    color:ivory;
}